<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="FxCop Rule Set" Description=" " ToolsVersion="10.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1005" Action="Warning" />
    <Rule Id="CA1008" Action="Warning" />
    <Rule Id="CA1011" Action="Warning" />
    <Rule Id="CA1012" Action="Warning" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1031" Action="Warning" />
    <Rule Id="CA1032" Action="Warning" />
    <Rule Id="CA1034" Action="Warning" />
    <Rule Id="CA1041" Action="Warning" />
    <Rule Id="CA1044" Action="Warning" />
    <Rule Id="CA1049" Action="Warning" />
    <Rule Id="CA1051" Action="Warning" />
    <Rule Id="CA1058" Action="Warning" />
    <Rule Id="CA1061" Action="Warning" />
    <Rule Id="CA1062" Action="Warning" />
    <Rule Id="CA1063" Action="Warning" />
    <Rule Id="CA1064" Action="Warning" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1302" Action="Warning" />
    <Rule Id="CA1304" Action="Warning" />
    <Rule Id="CA1404" Action="Warning" />
    <Rule Id="CA1800" Action="Warning" />
    <Rule Id="CA1801" Action="Warning" />
    <Rule Id="CA1804" Action="Warning" />
    <Rule Id="CA1806" Action="Warning" />
    <Rule Id="CA1815" Action="Warning" />
    <Rule Id="CA1816" Action="Warning" />
    <Rule Id="CA1819" Action="Warning" />
    <Rule Id="CA1820" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA1823" Action="Warning" />
    <Rule Id="CA1900" Action="Warning" />
    <Rule Id="CA1901" Action="Warning" />
    <Rule Id="CA2100" Action="Warning" />
    <Rule Id="CA2109" Action="Warning" />
    <Rule Id="CA2111" Action="Warning" />
    <Rule Id="CA2115" Action="Warning" />
    <Rule Id="CA2119" Action="Warning" />
    <Rule Id="CA2200" Action="Warning" />
    <Rule Id="CA2201" Action="Warning" />
    <Rule Id="CA2202" Action="Warning" />
    <Rule Id="CA2205" Action="Warning" />
    <Rule Id="CA2207" Action="Warning" />
    <Rule Id="CA2208" Action="Warning" />
    <Rule Id="CA2211" Action="Warning" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2214" Action="Warning" />
    <Rule Id="CA2215" Action="Warning" />
    <Rule Id="CA2216" Action="Warning" />
    <Rule Id="CA2218" Action="Warning" />
    <Rule Id="CA2219" Action="Warning" />
    <Rule Id="CA2220" Action="Warning" />
    <Rule Id="CA2221" Action="Warning" />
    <Rule Id="CA2222" Action="Warning" />
    <Rule Id="CA2227" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
    <Rule Id="CA2233" Action="Warning" />
    <Rule Id="CA2242" Action="Warning" />
  </Rules>
</RuleSet>
